<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559047783915-cmbhjkc2ceuitt2p1o3pia84d56l2jvb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559047783915-cmbhjkc2ceuitt2p1o3pia84d56l2jvb</string>
	<key>API_KEY</key>
	<string>AIzaSyDUNiZnPmlyqra5S-NE8oyteE0He78DwBA</string>
	<key>GCM_SENDER_ID</key>
	<string>559047783915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solstys.cortifree</string>
	<key>PROJECT_ID</key>
	<string>cortifree-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cortifree-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:559047783915:ios:2516c03d3d8586139155ae</string>
</dict>
</plist>
